/* styles.css */
body {
    background-color: #d7d6d6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

form {
    gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.checkbox-group,
.radio-group {
    margin-bottom: 15px;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

